/* h1{
  color: red;
} */
/* body { */
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* display: grid;

  background-image: url("D:/React/firstProject/src/assets/DSC_9232.JPG") ;
  
}
form.example {
  border: 3px solid #f1f1f1;
  text-align: center;
  font-size: large;
  padding: 20px;

} */